[Unit]
Description=Raspberry Pi DS18B20 Temperature Sensor Monitor for Home Assistant
After=network-online.target local-fs.target 
 
[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python3 /usr/bin/home-assistant-ds18b20.py
User=root
Restart=always
 
[Install]
WantedBy=multi-user.target
